{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff List</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <p>Welcome,</p>
                <p><strong>{{ user.username }}</strong></p>
            </div>
            <div class="nav-right">
                <div class="dropdown_profile">
                    <button onclick="toggleDropdown()">
                        {% if user.admin.adminImage %}
                            <img src="{{ user.admin.adminImage.url }}">
                        {% else %}
                            <img src="{% static 'img/default.png' %}">
                        {% endif %}
                        <div class="profile-details">
                            <p><strong>Admin</strong></p>
                            <p>{{ user.get_full_name }}</p>
                        </div>
                    </button>
                    <div class="dropdown_profile_content">
                        <a href="{% url 'profile_admin' %}">Profile</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb">
            <a href="{% url 'dashboard_admin' %}">Home</a> <span>&gt;</span> 
            <a href="{% url 'staff_list' %}">Staff</a>
        </div>
    </div>

    <div class="sidenav">
        <div class="sidenav-logo">
            <img src="{% static 'img/CounselLinkLogo.png' %}" alt="CounselLink Logo">
        </div>
        <a href="{% url 'dashboard_admin' %}" class="sidenav-item">Home</a>
        <a href="{% url 'manage_appointment' %}" class="sidenav-item">Appointment</a>
        <a href="{% url 'admin_list' %}" class="sidenav-item">Admin</a>
        <a href="{% url 'student_list' %}" class="sidenav-item">Student</a>
        <a href="{% url 'staff_list' %}" class="sidenav-item">Staff</a>
    </div>

    <div class="main">
        <div class="main-content">
            <div class="header-container">
                <h2>Staff List</h2>
                <button class="add-button" onclick="redirectToCreateStaff()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"/></svg>
                    Add Staff</button>
            </div>
            <div class="section-container">
                <div class="section">
                    <h3>Existing Staffs</h3>
                    <div class="section-content">
                        <table class="admin-table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Unit</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in staffs %}
                                    <tr onclick="redirectToStaffDetail('{{ staff.user.username }}')" style="cursor: pointer;">
                                        <td>
                                            {% if staff.staffImage %}
                                                <img src="{{ staff.staffImage.url }}" alt="Staff Image" class="staff-image">
                                            {% else %}
                                                <img src="{% static 'img/default.png' %}" alt="Default Image" class="staff-image">
                                            {% endif %}
                                        </td>
                                        <td>{{ staff.staffName }}</td>
                                        <td>{{ staff.staffPhoneno }}</td>
                                        <td>{{ staff.unit }}</td>
                                        <td>{{ staff.user.email }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content flex justify-center items-center">
            <img class="footer-logo" src="{% static 'img/CounselLinkLogo.png' %}" alt="logo">
            <p class="footer-version">Ver1.0.1</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        function redirectToCreateStaff() {
            window.location.href = '{% url "create_staff" %}';
        }
        function redirectToStaffDetail(staffUsername) {
            window.location.href = "{% url 'staff_detail' 'USERNAME_PLACEHOLDER' %}".replace('USERNAME_PLACEHOLDER', staffUsername);
        }
    </script>
</body>
</html>
